<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/myIcon.ico">
  <link href="./static/avatar_face_man_boy_profile.ico" rel="icon">

  <title>Manikandan Rajendran</title>

<link href="./static/main.d8e0d294.css" rel="stylesheet"></head>

<body class="">

<!-- style="background-color:powderblue;" -->
<div class="background-color-layer" style="background-image: url('static/assets/images/myimg.jpg')"></div>
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>I am Manikandan Rajendran</h1>
      <h3> 07448267439  | r.manikandan.king@gmail.com  | Staines, UK</h3>
      <h2><p>Automation QA Engineer</p></h2>
      <p>
        <a class="fa-icon fa-icon-2x" href="https://github.com/ManikandanRajendran/" title="GitHub" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/manikandan-rajendran-48863b36/" title="LinkedIn" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://facebook.com/" title="facebook" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
      </p>
    </div>
  </header>



<!-- Add your site or app content here -->
 
 <div class="container">
   <div class="row">
     <div class="col-xs-12">

        <div class="card">
          <div class="card-block">
            <h2>About me</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="./static/assets/images/myimg.jpg" class="img-responsive" alt="my_image" width="300" height="350"></p>
              </div>
              <div class="col-md-8">
                <div class="row">
                  <p><br>A Software tester with 9.5 years of experience in writing test scripts, debugging and implementing automation tests to help applications run smoothly. Regularly relied upon to deliver faultless test cases, planning, preparation and execution at short notice. Excels at learning new software tools and best practices in software quality assurance.</p>
                  <p><br>You can have a look on my <a href="./static/Manikandan_Resume.pdf" target="_blank">resume here.</a> </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Skills</h2>
            <div class="row">
              <div class="col-md-4">
                <h4><li>Web Automation</li></h4>
                <h4><li>API Automation</li></h4>
                <h4><li>JavaScript</li></h4>
                <h4><li>Selenium</li></h4>
                <h4><li>GitHub</li></h4>
              </div>
              <div class="col-md-4">
                <h4><li>Protractor</li></h4>
                <h4><li>POSTMAN</li></h4>
                <h4><li>Python</li></h4>
                <h4><li>Agile&Kanban</li></h4>
                <h4><li>JIRA</li></h4>
               </div>
              <div class="col-md-4">
                <h4><li>BDD-Cucumber</li></h4>
                <h4><li>ya-done-api (BDD)</li></h4>
                <h4><li>Java</li></h4>
                <h4><li>Web Scraping</li></h4>
                <h4><li>Azure</li></h4>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Work</h2>
            <div class="work-experience">
              <small class="date">2018-till date</small>
              <h3 class="h5 date-title">Senior Test Analyst - <a href="https://www.cognizant.com/en-uk/" title="Lead IT and outsourcing" target="_blank">Cognizant Technology Solutions</a></h3>
              <h6 class="h6 date-title">Project - <a href="https://www.britishgas.co.uk/" title="Lead Energy supplier, UK" target="_blank">microservices (Centrica UK)</a></h6>
              <p>Working as an automation QA engineer as part of microservices team. Planned and implemented automated testing scripts with Protractor on BDD framework using JavaScript, reducing labour hours by 60%. As an API/micro services automation tester, responsible to write automation test cases effectively to provide more coverage within the limited timeline. Working on Agile methodology, updating the progress in daily stand ups, attending agile ceremonies like retro, refinement and sprint planning effectively.
            </div>
            <div class="work-experience">
              <small class="date">2014-2018</small>
              <h3 class="h5 date-title">Test Analyst - <a href="https://www.cognizant.com/en-uk/" title="Lead IT and outsourcing" target="_blank">Cognizant Technology Solutions</a></h3>
              <h6 class="h6 date-title">Project - <a href="https://www.britishgas.co.uk/" title="Lead Energy supplier, UK" target="_blank">Digital (Centrica UK)</a></h6>
              <p>Worked as an test lead as part of digital team. Gained knowledge on Web Automation tool Protractor with cucumber-BDD framework. Design and development of BDD Framework using protractor and java script to attain Nth-sprint automation. Learnt API and micro services concepts. Creating collections, writing test automation scripts using JavaScript in POSTMAN. As a senior test lead responsible for resource allocation, task allocation, team management and guiding new joiners.  </p>
            </div>

            <div class="work-experience">
              <small class="date">2011-2014</small>
              <h3 class="h5 date-title">Programmer - <a href="https://www.cognizant.com/en-uk/" title="Lead IT and outsourcing" target="_blank">Cognizant Technology Solutions</a></h3>
              <h6 class="h6 date-title">Project - <a href="https://www.britishgas.co.uk/" title="Lead Energy supplier, UK" target="_blank">Digital support (Centrica UK)</a></h6>
              <p>Worked as an manual test engineer. Gained the application knowledge quicker and involved in manual test execution. Completed the necessary learning and got certified in Software testing, agile tester and automation testing for learners. Involved in Test lab creation, test execution, defects raising and tracking them to closure.</p>
            </div>
        </div>
          </div>

        <div class="card">
          <div class="card-block">
            <h2>Education</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="education-experience">
                  <h3 class="h5 date-title">Bachelor of Science in computer science</h3>
                  <small class="date">2008-2011</small>
                </div>
                
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <h3 class="h5 date-title">Jamal Mohammed College</h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <h3 class="h5 date-title">Tiruchirappalli, India</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Language</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">English  <small>Professional</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Tamil  <small>Native</small></h3>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Projects</h2>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">


            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="./static/assets/images/voiceAssistant.png" class="img-responsive" alt="voice assitance" width="800" height="600">
                <div class="carousel-caption">
                  <h3 class="h4 date-title"><a href="https://github.com/ManikandanRajendran/pythonProjects" title="Python Projects" target="_blank">Voice Assistance - Python</a></h3>
                  <p>2021</p>
                </div>
              </div>
              <div class="item">
                <img src="./static/assets/images/encoder.png" class="img-responsive" alt="encoder and decoder" width="800" height="900">
                <div class="carousel-caption">
                  <h3 class="h4 date-title"><a href="https://github.com/ManikandanRajendran/pythonProjects" title="Python Projects" target="_blank">URL encoder and Decoder - Python (Tkinter)</a></h3>
                  <p>2021</p>
                </div>
              </div>

              <div class="item">
                <img src="./static/assets/images/img-08.jpg" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5">API automation framework</h3>
                  <p>2017</p>
                </div>
              </div>
            </div>

            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

          </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Social Network</h2>
            <div class="row">
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://www.linkedin.com/in/manikandan-rajendran-48863b36/" title="" target="_blank"><span class="social-round-icon fa-icon"><i class="fa fa-linkedin"></i></span>Manikandan Rajendran</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="http://github.com/manikandanRajendran/" title="" target="_blank"><span class="social-round-icon fa-icon"><i class="fa fa-github"></i></span>Manikandan Rajendran</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://www.facebook.com/r.manikandan.king/" title="" target="_blank"><span class="social-round-icon fa-icon"><i class="fa fa-facebook"></i></span>Manikandan Rajendran</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Contact</h2>
            <form action="submit_form" method="POST" class="reveal-content">
              <div class="form-group">
                <input name="email" type="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject">
              </div>
              <div class="form-group">
                <textarea name="message" class="form-control" rows="5" placeholder="Enter your message"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class=" btn btn-primary">Send message</button>
              </div>
            </form>
          </div>
        </div>
     </div>
   </div>
 </div>

</main>


<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>


<script type="text/javascript" src="./static/main.bc58148c.js"></script></body>

</html>